*.yml text eol=lf whitespace=trailing-space,space-before-tab
*.yaml text eol=lf whitespace=trailing-space,space-before-tab
*.md text eol=lf whitespace=trailing-space
*.ts text eol=lf whitespace=trailing-space,space-before-tab
*.tsx text eol=lf whitespace=trailing-space,space-before-tab
*.js text eol=lf whitespace=trailing-space,space-before-tab
*.jsx text eol=lf whitespace=trailing-space,space-before-tab
*.json text eol=lf whitespace=trailing-space,space-before-tab
*.css text eol=lf whitespace=trailing-space
*.scss text eol=lf whitespace=trailing-space
*.html text eol=lf whitespace=trailing-space
*.sh text eol=lf whitespace=trailing-space,space-before-tab
*.py text eol=lf whitespace=trailing-space,space-before-tab
*.java text eol=lf whitespace=trailing-space,space-before-tab
*.xml text eol=lf whitespace=trailing-space
*.properties text eol=lf whitespace=trailing-space
*.rego text eol=lf whitespace=trailing-space
*.ftl text eol=lf whitespace=trailing-space
