<?xml version="1.0" encoding="UTF-8"?>
<!-- Context used by Tomcat -->
<Context path="/authzforce-ce" docBase="/opt/authzforce-ce-server/webapp">
	<JarScanner scanClassPath="false">
		<JarScanFilter defaultPluggabilityScan="false" defaultTldScan="false" />
	</JarScanner>

	<!-- Override <context-param>s in web.xml -->
	<Parameter name="logbackConfigLocation" description="Logging configuration file" value="file:/opt/authzforce-ce-server/conf/logback.xml" override="false" />

	<Parameter name="spring.profiles.active" description="application profiles: '+fastinfoset' to enable FastInfoset support, '-fastinfoset' to disable FastInfoset support" value="-fastinfoset"
		override="false" />

	<!-- <env-entry>s in web.xml do not override entries below iff override=false. -->
	<Environment name="org.ow2.authzforce.config.dir" value="file:/opt/authzforce-ce-server/conf" type="java.lang.String" override="false"
		description="Configuration directory path that may contain ${...} placeholders, to be resolved as system properties: e.g. ${user.dir}. Default values can be supplied using the ':' separator between key and value (see org.springframework.util.SystemPropertyUtils class)" />

	<Environment name="org.ow2.authzforce.data.dir" value="file:/opt/authzforce-ce-server/data" type="java.lang.String" override="false"
		description="Data (e.g. data of domains created and managed by the API) directory path that may contain ${...} placeholders, to be resolved as system properties: e.g. ${user.dir}. Default values can be supplied using the ':' separator between key and value (see org.springframework.util.SystemPropertyUtils class)" />

	<Environment name="org.ow2.authzforce.uuid.gen.randomMulticastAddressBased" value="false" type="java.lang.Boolean" override="false"
		description="Use random multicast address-based UUID generation iff true" />

	<Environment name="org.ow2.authzforce.domains.sync.interval" value="0" type="java.lang.Integer" override="false"
		description="Domains folder-to-memory synchronization interval (seconds); value 0 disables this feature." />

	<Environment name="org.ow2.authzforce.domains.enablePdpOnly" value="false" type="java.lang.Boolean" override="false"
		description="Enable PDP only, i.e. disable all PAP (or other administration) features iff true" />

	<Environment name="org.ow2.authzforce.domains.enableXacmlJsonProfile" value="true" type="java.lang.Boolean" override="false"
		description="Enable support for JSON Profile of XACML 3.0 on domains' PDP endpoints iff true" />

	<Environment name="org.ow2.authzforce.domains.xacmlJsonSchemaRelativePath" value="" type="java.lang.String" override="false"
		description="Path to JSON schema file for XACML JSON Profile's Request validation, relative to ${org.ow2.authzforce.config.dir} (if undefined/empty value, the Request.schema.json file from authzforce-ce-xacml-json-model project is used by default)" />
</Context>

